<!DOCTYPE html>
<html>
<head>
  <title>Helix Technologies Australia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <!--  Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>
<body>

<!-- Navigation -->
    <header data-0="opacity:1;" data-160="opacity:0.8;">
      <div class='row'>
        <div class='large-3 columns'>
          <a class='logo' href="/">
            <h1>
              <span class='icon icon-helix'></span>
              <span class='text'>Helix</span>
            </h1>
          </a>
        </div>
        
        
        <nav class='large-6 columns side-nav'>
          <a href="/#people">People</a>
          <a href="/#clients">Clients</a>
          <a href="/#jobs">Work</a>
          <a href="/#contact">Contact</a>
          <% if @current_user %>
            <%= link_to('Sign out', login_path, :method => :delete, :data => {:confirm => "Are you sure?"}) %>
          <% end %>
          <!-- <a href="/blog">Blog</a> -->
        </nav>

        <div class='large-3 columns apply-now'>
          <a class='icon-arrow-right' href="#contact">Contact Us</a>
        </div>



      </div>
    </header>


	<%= yield %>
<!-- Page Footer -->
      <footer>
      <div class='row'>
        <ul style='display:none'>
          <!-- Phone -->
<!--          <li class='large-3 columns number'>
            <p class='section-label'>Call us on:</p>
            <div>123456</div>
          </li> -->
          
          <!-- Socials -->
<!--          <li class='large-5 columns socials'>
            <p class='section-label'>Find us on:</p>
            <ul>
              <li><a href="#" class='icon-twitter'></a></li>
              <li><a href="#" class='icon-facebook'></a></li>
            </ul>
          </li> -->

          <li class='large-6 columns footer-logo'>
            <span class='icon icon-helix'></span>
            <span class='text'>Helix</span>
          </li>
          
          <!-- Contact Details -->
          <li class='large-4 columns contacts'>
            <!--p class='section-label'>Contact us at:</p-->
            <ul>
              <li class='icon-link'>
                <a href="/">http://www.helixta.com.au</a>
              </li>                     
              <li class='icon-envelope-alt'>
                <a mailto:"hello@helixta.com.au">hello@helixta.com.au</a>
              </li>           
              <li class='icon-map-marker'>
                Pyrmont, Sydney
              </li>
            </ul>
          </li>

  
        </ul>
        <div class='mid-footer'>
          &copy; 2014 Helix Technologies Australia Pty Ltd
          <br/>
          <br/>
          ABN 32 149 439 261 
          &nbsp; | &nbsp;
          ACN 149 439 261
        </div>
      </div>
      </footer>

</body>
</html>
